.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 2rem;
  flex-grow: 1;
  margin-top: 2rem;
  width: 100%;
  border: 1px solid #cbd0d4;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.card-icon-header {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #e0f2fe;
  color: #1d4ed8;
  border-radius: 50%;
  font-size: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.icon:hover {
  background-color: #7c3aed;
  color: #fff;
}

.itemCount {
  color: #64748b;
  font-size: small;
}

.title {
  margin-right: 20px;
}

.title h2 {
  font-size: x-large;
}

.amount {
  font-weight: bold;
  font-size: x-large;
  color: #7c3aed;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e7e5e5;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  transition: width 0.3s ease;
}

.progress-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
}

.spent {
  color: #64748b;
  font-size: small;
}

.remaining {
  color: #64748b;
  font-size: small;
}

.percentage {
  font-size: medium;
  font-weight: bold;
  color: #1d4ed8;
  padding: 5px 10px;
  background-color: #e0f2fe;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
}

.progress-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.expenseForm {
  background-color: #fff;
  margin: 2rem auto;
  padding: 3rem 2rem;
  border-radius: 10px;
  border: 1px solid #cbd0d4;
  width: 100%;
}

.expenseForm h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.formControl {
  margin-bottom: 1.5rem;
}

.expenseForm label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #555;
}

.expenseForm select,
.expenseForm input[type="number"],
.expenseForm input[type="text"] {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.expenseForm select:focus,
.expenseForm input:focus {
  border-color: #007bff;
}

.expenseForm textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  transition: border-color 0.3s, outline 0.3s;
}

.expenseForm textarea:focus {
  border-color: #007bff !important;
  outline: none;
}

.btn {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
}

.subContainer {
  width: 100%;
}

.defaultbtn {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #007bff;
  color: #007bff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.defaultbtn:hover {
  background-color: #0056b3;
  color: white;
  border: none;
}

.summaryDetailsconatiner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 0 10px;
}

.cardAndChartContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.chartContainer {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
  border: 1px solid #cbd0d4;
}

@media (max-width: 600px) {
  .card {
    padding: 15px;
  }

  .title h2 {
    font-size: large;
  }

  .amount {
    font-size: large;
  }

  .progress-bar {
    height: 8px;
  }

  .icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .summaryDetailsconatiner {
    flex-direction: column;
  }
}
